.container {
  width: 575px;
  height: 825px;
  margin: 1.7cm 10cm 2cm 15cm;
  background-color: #e8e87b;
  padding-left: 30px;
  padding: 1cm 2cm 1cm 2cm;
  
  border-radius: 1cm;
}
#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(241, 241, 241);
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #fff;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;

  font-size: 25px;
}

h1 {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 20px;
  margin-left: 1cm;
  margin-right: 5cm;
  background-color: rgb(12, 118, 164);
}
